
/* Lucy is responsible for all of the style page, including the troubleshooting to make it work with all other pages */
/* fonts */

/* files */

/* header */

.btn {
    border-right-color: white;
    border-color: white;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Georgia, serif;
    background-color: darksalmon;
    font-size: 20px;
    cursor: pointer;
    border-bottom: none;
    border-left: none;
    border-top: none;
}

.topnav {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: darksalmon;
}

form {
    display: inline-block;    
}

.active {
    background-color: darkred
}

/* basic */

h1 {
    color: navy;
    margin: 0;
    font-family: Georgia, serif;
    font-size: 45px;
    display: block;
    align-content: center;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px
}
h2 {
    color: darkolivegreen;
    font-family: Georgia, serif;
    font-size: 30px;
    box-sizing: content-box;
    display: block;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
}

h3 {
    color: darkolivegreen;
    display: block;
    padding-bottom: 7px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 7px;
    font-family: Gerogia, serif;
    font-size: 20px
}


body {
    background-color: floralwhite;
    border-right: 50px;
    border-left: 50px;
    font-family: Georgia, serif;
}

p {
    color: darkred;
    font-size: 17px;
    box-sizing: content-box;
    font-family: Georgia, serif;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
}

li {
    color: darkred;
    font-size: 15px;
    box-sizing: content-box;
    font-family: Georgia, serif;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 1px;
    padding-top: 5px;
}

/* index */

.home {
    text-align: center;
    padding: 10px 275px 10px 275px;
}

/* about */

.aboutcontainer {
    width:; 
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 75px;
    padding-right: 75px;
    display: block;
}

/* resources */

.subsection,
.sectionTitle {
    text-align: center;
    padding: 10px 100px 10px 100px;
}

/* hero */

.hero {
    text-align: center
}

table {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
    overflow: auto;
    overflow-anchor: none;
}

td {
    vertical-align: top;
}

th {
    color: darkolivegreen;
    font-family: Georgia, serif;
    font-size: 30px;
    box-sizing: content-box;
    align-content: center;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
}

tr {
    color: darkred;
    color: darkred;
    box-sizing: content-box;
    align-content: center;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 7px;
    font-family: Gerogia, serif;
    font-size: 20px;
}

.trh {
    text-align: center;
}

.trb {
    font-size: 15px;
    display: inline-block;
    align-content: top;
}

/* footer */
